<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0"/>
    </system.web>
  <connectionStrings>
    <!-- SqlServer 连接
    <add name="$checkcode$" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Database=HydeeBP;User ID=H2;Password=hydeesoft;Pooling=True;Min Pool Size=1;Max Pool Size=50" />
    -->
    <!-- Oracle 连接
    <add name="$checkcode$" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=127.0.0.1/hydee;User ID=H2;Password=hydeesoft;Pooling=True;Min Pool Size=1;Max Pool Size=50" />
    -->
    <add name="hydeeH2" providerName="Oracle.ManagedDataAccess.Client"
      connectionString="Data Source=192.168.0.9/hydee;User ID=H2;Password=hydeesoft;Pooling=True;Min Pool Size=2;Max Pool Size=100"/>
  </connectionStrings>
</configuration>
